.home-text-wrap{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20%;
}
  
.home-text-wrap > .home-text{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
.modalBtn a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 400px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    border-radius: 50vh;
    text-align: center;
}
  
.modalBtn a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
    }
  
.modalBtn a:hover {
    text-decoration: none;
    background-color: #bbbbbb;
}
  
.modalBack{
    background-Color: rgba(0,0,0,0.5);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

